Package: com.colaski.colormydots
Name: ColorMyDots
Version: 1.0.0
Architecture: iphoneos-arm
Description: Simple tweak that allows changing the color of the dots on springboard
Maintainer: Colaski
Author: Colaski
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3), com.spark.libsparkcolourpicker
